@import url('https://fonts.googleapis.com/css?family=Concert+One');

body {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Concert One', cursive;
}

a {
    background: rgba(255, 255, 255, 0.4);
    padding: 1%;
    border: 2px solid #86d9ff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #03A9F4;
    font-size: 4vh;
    color:hsl(187, 100%, 42%);
}

a:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px #03A9F4;
}

#gameover a {
    border: 2px solid #e80000;
    box-shadow: 0px 0px 20px #ff0000;
    color: white;
    text-shadow: 0px 0px 10px #ff0000;
}

#gamewin a {
    border: 2px solid #00e800;
    box-shadow: 0px 0px 20px #00ff00;
    color: white;
    text-shadow: 0px 0px 10px #00ff00;
}

#game {
    display: none;
    position: fixed;
    top: calc(50% - 40vh);
    left: 20%;
    width: 60%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid #86d9ff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #03A9F4;
}

#mainmenu {
    display: block;
    position: fixed;
    top: calc(50% - 40vh);
    left: 20%;
    width: 60%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid #86d9ff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #03A9F4;
}

#menu {
    margin-top: 60vh;
}

.mainlogo {
    width: 70%;
    height: 40%;
    position: absolute;
    left: 15%;
    top: 15vh;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    font-size: 1.5vmax;
    margin: 7% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 60%;
    border: 2px solid #86d9ff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #03A9F4;
    position: relative;
    transition: all .5s ease-in-out;
}

.popup h1 {
    color: #333;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
}

.popup .close:hover {
    color: #F00;
}

.popup .content {
    max-height: 70%;
    overflow: auto;
}

#startdelay {
    font-size: 20vmax;
    color: white;
    position: absolute;
    left: calc(50% - 4.5vmax);
    top: calc(50% - 12vmax);
    animation: titletime 1s infinite ease-in-out;
}

@keyframes titletime {
    from {opacity: 0;}
    to {opacity: 1;}
}

#gamewin {
    display: none;
    position: fixed;
    top: calc(50% - 40vh);
    left: 20%;
    width: 60%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid #8fff86;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #42f403;
    font-size: 5vmax;
}

.win {
    color: white;
    text-shadow: 0px 0px 50px #00ef00;
}

#gameover {
    display: none;
    position: fixed;
    top: calc(50% - 40vh);
    left: 20%;
    width: 60%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid #ff8686;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #f40303;
    font-size: 5vmax;
}

.lose {
    color: white;
    text-shadow: 0px 0px 50px #ef0000;
}

.menuLogo {
    width: 50%;
    height: 18vh;
    margin-top: -9vh;
}

.monster {
    width: 22vmax;
    height: 22vmax;
    position: absolute;
    left: calc(50% - 11vmax);
    top: calc(50% - 11vmax);
}

.healthBar {
    position: absolute;
    top: 5vmax;
    left: calc(50% - 15vmax);
}

.bossHp {
    color: white;
    position: absolute;
    font-size: 1.5vmax;
    top: .5vmax;
    left: -5vmax;
}

.healthBg {
    position: relative;
    height: 2vmax;
    width: 30vmax;
    background: black;
    left: calc(50% - 12vmax);
}

.health {
    position: relative;
    top: calc(50% - 0.75vmax);
    left: calc(50% - 14.5vmax);
    background: #54eb54;
    height: 1.5vmax;
    max-width: 29.1vmax;
    width: 100%;
    transition: 1s ease-in-out;
}

.myhealthBar {
    position: absolute;
    top: 8vmax;
    left: calc(50% - 15vmax);
}

.myHp {
    color: white;
    position: absolute;
    font-size: 1.5vmax;
    top: .5vmax;
    left: -5vmax;
}

.myhealthBg {
    position: relative;
    height: 2vmax;
    width: 30vmax;
    background: black;
    left: calc(50% - 12vmax);
}

.myhealth {
    position: relative;
    top: calc(50% - 0.75vmax);
    left: calc(50% - 14.5vmax);
    background: #ae0000;
    height: 1.5vmax;
    max-width: 29.1vmax;
    width: 100%;
    transition: 1s ease-in-out;
}

.playerHp {
    position: absolute;
    top: 65%;
    left: -18vh;
}

.bg {
    background-color: #04AF71;
}

.wordsWrap {
    margin-top: 50vh;
    color: white;
    text-align: center;
    font-size: 6vmax;
    letter-spacing: 5px;
}

.words {
    margin: 0px;
}

.time {
    margin: auto;
    color: white;
}

#theTime {
    color: yellow;
    border-radius: 50%;
    position: relative;
}
